In [2]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("DATA_SEMNA.csv")

In [28]:
data.head()

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
data.isnull()

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
406824,False,False,False,False,False,False,False,False,False
406825,False,False,False,False,False,False,False,False,False
406826,False,False,False,False,False,False,False,False,False
406827,False,False,False,False,False,False,False,False,False
406828,False,False,False,False,False,False,False,False,False

In [4]:
data['CustomerID'].isnull().sum()

0

In [11]:
data.isnull()

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
406824,False,False,False,False,False,False,False,False,False
406825,False,False,False,False,False,False,False,False,False
406826,False,False,False,False,False,False,False,False,False
406827,False,False,False,False,False,False,False,False,False
406828,False,False,False,False,False,False,False,False,False

In [16]:
dicionario = {}

dicionario['vini'] = ['LANTERNA DE BUCETA', 20]

print(dicionario)

{'vini': ['LANTERNA DE BUCETA', 20]}

In [18]:
dicionario['dorgas'] = ['cerveja', 15]
dicionario['fiori'] = 'cinta piru'

In [19]:
dicionario

{'vini': ['LANTERNA DE BUCETA', 20],
 'dorgas': ['cerveja', 15],
 'fiori': 'cinta piru'}

In [20]:
dicionario['fiori'] = 'outra cinta piru'

In [21]:
dicionario

{'vini': ['LANTERNA DE BUCETA', 20],
 'dorgas': ['cerveja', 15],
 'fiori': 'outra cinta piru'}

In [22]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)

In [23]:
thisdict['brand']

'Ford'

In [24]:
temp = []

temp.append('cinta piru')
temp.append(dicionario['fiori'])

dicionario['fiori'] = temp

dicionario

#tem que tirar o que tem dentro e dps colocar tudo

{'vini': ['LANTERNA DE BUCETA', 20],
 'dorgas': ['cerveja', 15],
 'fiori': ['cinta piru', 'outra cinta piru']}

In [25]:
#da ruim se o que tiver for uma lista

temp = []

temp.append('terceira cinta piru')
temp.append(dicionario['fiori'])

dicionario['fiori'] = temp

dicionario

{'vini': ['LANTERNA DE BUCETA', 20],
 'dorgas': ['cerveja', 15],
 'fiori': ['terceira cinta piru', ['cinta piru', 'outra cinta piru']]}

In [26]:
temp = []

temp.append('vodka')
for item in dicionario['dorgas']:
    temp.append(item)

dicionario['dorgas'] = temp

dicionario

{'vini': ['LANTERNA DE BUCETA', 20],
 'dorgas': ['vodka', 'cerveja', 15],
 'fiori': ['terceira cinta piru', ['cinta piru', 'outra cinta piru']]}

In [27]:
temp = []

temp.append('mais vodka')
for item in dicionario['dorgas']:
    temp.append(item)

dicionario['dorgas'] = temp

dicionario

#nice

{'vini': ['LANTERNA DE BUCETA', 20],
 'dorgas': ['mais vodka', 'vodka', 'cerveja', 15],
 'fiori': ['terceira cinta piru', ['cinta piru', 'outra cinta piru']]}

In [29]:
# ideia Ã© fazer um dicionario dos itens comprados, depois gerar os csv

In [30]:
item_comprado = {}
item_comprado['17850.0'] = ['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN']


for keys in item_comprado.keys():
    print(keys)

17850.0

In [33]:
#e se colocar o id do registro?

item_comprado = {}
item_comprado['17850.0'] = [0,1]

print(data['Quantity'][2])

8

In [34]:
item_comprado = {}

In [3]:
df = pd.read_excel("teste.xlsx")

In [4]:
df.head(15)

              Description  Quantity CustomerID
0      LANTERNA DE BUCETA        12     DORGAS
1              PIRU ALADO         1       VINY
2                EXTINTOR         2         FE
3      LANTERNA DE BUCETA         0       VINY
4      LANTERNA DE BUCETA         3      THALI
5      LANTERNA DE BUCETA         2       BETO
6                EXTINTOR         5         FE
7              PIRU ALADO        66    SALANTI
8   RÃ‰PLICA DO PAU DO KID        -3     DORGAS
9   RÃ‰PLICA DO PAU DO KID        -2       VINY
10             PIRU ALADO         2         FE
11  RÃ‰PLICA DO PAU DO KID         2     DORGAS
12             PIRU ALADO         3      FIORI
13  RÃ‰PLICA DO PAU DO KID        31      THALI

In [38]:
df.shape

(14, 3)

In [41]:
df['CustomerID'].value_counts()

VINY       3
FE         3
DORGAS     3
THALI      2
BETO       1
FIORI      1
SALANTI    1
Name: CustomerID, dtype: int64

In [42]:
produtos_comprados = {}

In [5]:
i = 0
customers = []

for item in df['CustomerID'].values:
    if item not in customers:
        customers.append(item)
    print("Analisando o ", i, " cliente de ", len(df['CustomerID'].values))
    i += 1

Analisando o  0  cliente de  14
Analisando o  1  cliente de  14
Analisando o  2  cliente de  14
Analisando o  3  cliente de  14
Analisando o  4  cliente de  14
Analisando o  5  cliente de  14
Analisando o  6  cliente de  14
Analisando o  7  cliente de  14
Analisando o  8  cliente de  14
Analisando o  9  cliente de  14
Analisando o  10  cliente de  14
Analisando o  11  cliente de  14
Analisando o  12  cliente de  14
Analisando o  13  cliente de  14

In [6]:
customers

['DORGAS', 'VINY', 'FE', 'THALI', 'BETO', 'SALANTI', 'FIORI']

In [10]:
#altamente ineficiente
for cliente in customers:
    k = 0
    ids = []
    while k < len(df):
        if df['CustomerID'][k] == cliente:
            print(df['CustomerID'][k])
        k += 1

DORGAS
DORGAS
DORGAS
VINY
VINY
VINY
FE
FE
FE
THALI
THALI
BETO
SALANTI
FIORI

In [14]:
j = 0
products = []
for product in df['Description'].values:
    if product not in products:
        products.append(product)
    print("Analisando o ", j, " produto de ", len(df['Description'].values))
    j += 1

Analisando o  0  produto de  14
Analisando o  1  produto de  14
Analisando o  2  produto de  14
Analisando o  3  produto de  14
Analisando o  4  produto de  14
Analisando o  5  produto de  14
Analisando o  6  produto de  14
Analisando o  7  produto de  14
Analisando o  8  produto de  14
Analisando o  9  produto de  14
Analisando o  10  produto de  14
Analisando o  11  produto de  14
Analisando o  12  produto de  14
Analisando o  13  produto de  14

In [12]:
item_comprado = {}
for cliente in customers:
    k = 0
    ids = []
    while k < len(df):
        if df['CustomerID'][k] == cliente:
            print(cliente, ' : ', k)
            ids.append(k)
        k += 1
    item_comprado[cliente] = ids

DORGAS  :  0
DORGAS  :  8
DORGAS  :  11
VINY  :  1
VINY  :  3
VINY  :  9
FE  :  2
FE  :  6
FE  :  10
THALI  :  4
THALI  :  13
BETO  :  5
SALANTI  :  7
FIORI  :  12

In [13]:
item_comprado #ids do que comprou

{'DORGAS': [0, 8, 11],
 'VINY': [1, 3, 9],
 'FE': [2, 6, 10],
 'THALI': [4, 13],
 'BETO': [5],
 'SALANTI': [7],
 'FIORI': [12]}

In [ ]:
#lidar com uma ida sÃ³:
#cada linha analisada ele separa
#talvez depois

In [15]:
novo_df = pd.DataFrame(index=customers, columns=products)

In [16]:
novo_df.head()

       LANTERNA DE BUCETA PIRU ALADO EXTINTOR RÃ‰PLICA DO PAU DO KID
DORGAS                NaN        NaN      NaN                   NaN
VINY                  NaN        NaN      NaN                   NaN
FE                    NaN        NaN      NaN                   NaN
THALI                 NaN        NaN      NaN                   NaN
BETO                  NaN        NaN      NaN                   NaN

In [20]:
novo_df.loc['DORGAS'] = [12,0,-3,2] #criar uma lista com zero

In [22]:
novo_df = novo_df.drop('Dorgas', axis=0) #SE NAO ACHA A ROW, ELE CRIA OUTRA

In [23]:
novo_df

        LANTERNA DE BUCETA PIRU ALADO EXTINTOR RÃ‰PLICA DO PAU DO KID
DORGAS                  12          0       -3                     2
VINY                   NaN        NaN      NaN                   NaN
FE                     NaN        NaN      NaN                   NaN
THALI                  NaN        NaN      NaN                   NaN
BETO                   NaN        NaN      NaN                   NaN
SALANTI                NaN        NaN      NaN                   NaN
FIORI                  NaN        NaN      NaN                   NaN

In [24]:
products

['LANTERNA DE BUCETA', 'PIRU ALADO', 'EXTINTOR', 'RÃ‰PLICA DO PAU DO KID']

In [26]:
novo_df['PIRU ALADO']['VINY'] = 1

In [27]:
novo_df

        LANTERNA DE BUCETA PIRU ALADO EXTINTOR RÃ‰PLICA DO PAU DO KID
DORGAS                  12          0       -3                     2
VINY                   NaN          1      NaN                   NaN
FE                     NaN        NaN      NaN                   NaN
THALI                  NaN        NaN      NaN                   NaN
BETO                   NaN        NaN      NaN                   NaN
SALANTI                NaN        NaN      NaN                   NaN
FIORI                  NaN        NaN      NaN                   NaN

In [29]:
novo_df.fillna(0) #sÃ³ soma

         LANTERNA DE BUCETA  PIRU ALADO  EXTINTOR  RÃ‰PLICA DO PAU DO KID
DORGAS                   12           0        -3                      2
VINY                      0           1         0                      0
FE                        0           0         0                      0
THALI                     0           0         0                      0
BETO                      0           0         0                      0
SALANTI                   0           0         0                      0
FIORI                     0           0         0                      0

In [30]:
novo_df.loc['DORGAS'] = [0,0,0,0]

In [31]:
novo_df.loc['VINY'] = [0,0,0,0]

In [32]:
novo_df = novo_df.fillna(0)

In [33]:
novo_df
#matriz de quantidades

         LANTERNA DE BUCETA  PIRU ALADO  EXTINTOR  RÃ‰PLICA DO PAU DO KID
DORGAS                    0           0         0                      0
VINY                      0           0         0                      0
FE                        0           0         0                      0
THALI                     0           0         0                      0
BETO                      0           0         0                      0
SALANTI                   0           0         0                      0
FIORI                     0           0         0                      0

In [38]:
#para cada linha no df original, pega quem comprou(CustomerID) e o produto (Description)
#manda a quantidade diretamente pro df novo
z = 0
while z < len(df):
    print('Cliente: ', df['CustomerID'][z], ', ','Produto: ', df['Description'][z], ', ', "Quantidade: ", df['Quantity'][z])
    cliente = df['CustomerID'][z]
    produto = df['Description'][z]
    quantidade = df['Quantity'][z]
    novo_df[produto][cliente] += quantidade
    z += 1

Cliente:  DORGAS ,  Produto:  LANTERNA DE BUCETA ,  Quantidade:  12
Cliente:  VINY ,  Produto:  PIRU ALADO ,  Quantidade:  1
Cliente:  FE ,  Produto:  EXTINTOR ,  Quantidade:  2
Cliente:  VINY ,  Produto:  LANTERNA DE BUCETA ,  Quantidade:  0
Cliente:  THALI ,  Produto:  LANTERNA DE BUCETA ,  Quantidade:  3
Cliente:  BETO ,  Produto:  LANTERNA DE BUCETA ,  Quantidade:  2
Cliente:  FE ,  Produto:  EXTINTOR ,  Quantidade:  5
Cliente:  SALANTI ,  Produto:  PIRU ALADO ,  Quantidade:  66
Cliente:  DORGAS ,  Produto:  RÃ‰PLICA DO PAU DO KID ,  Quantidade:  -3
Cliente:  VINY ,  Produto:  RÃ‰PLICA DO PAU DO KID ,  Quantidade:  -2
Cliente:  FE ,  Produto:  PIRU ALADO ,  Quantidade:  2
Cliente:  DORGAS ,  Produto:  RÃ‰PLICA DO PAU DO KID ,  Quantidade:  2
Cliente:  FIORI ,  Produto:  PIRU ALADO ,  Quantidade:  3
Cliente:  THALI ,  Produto:  RÃ‰PLICA DO PAU DO KID ,  Quantidade:  31

In [39]:
novo_df

         LANTERNA DE BUCETA  PIRU ALADO  EXTINTOR  RÃ‰PLICA DO PAU DO KID
DORGAS                   12           0         0                     -1
VINY                      0           1         0                     -2
FE                        0           2         7                      0
THALI                     3           0         0                     31
BETO                      2           0         0                      0
SALANTI                   0          66         0                      0
FIORI                     0           3         0                      0

In [44]:
novo_df['PIRU ALADO']['DORGAS'] += -1

In [45]:
novo_df

         LANTERNA DE BUCETA  PIRU ALADO  EXTINTOR  RÃ‰PLICA DO PAU DO KID
DORGAS                   12           0         0                     -1
VINY                      0           1         0                     -2
FE                        0           2         7                      0
THALI                     3           0         0                     31
BETO                      2           0         0                      0
SALANTI                   0          66         0                      0
FIORI                     0           3         0                      0